main {
  margin: 0;
  margin-top: 152px;
  padding: 0;
  clear: both;
}

main .products-grid {
  position: relative;
  max-width: 1680px;
  width: 90%;
  margin: 20px auto;
}

@media screen and (max-width: 1040px) {
  main .products-grid {
    max-width: 756px;
    width: 100%;
  }
}

@media screen and (max-width: 790px) {
  main .products-grid {
    max-width: 564px;
  }
}

main .products-grid .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0;
}

main .products-grid .content article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  padding: 0 5px 10px;
  margin: 0;
  width: 33.33%;
}

@media screen and (max-width: 790px) {
  main .products-grid .content article {
    width: 50%;
  }
}

@media screen and (min-width: 1265px) {
  main .products-grid .content article {
    width: 25%;
  }
}

main .products-grid .content article a {
  position: relative;
  display: block;
}

main .products-grid .content article a:hover .product-grid-item-data .sizes {
  opacity: 1;
}

main .products-grid .content article a:hover .product-grid-item-img .product-img-contain .overlay {
  opacity: 1;
}

main .products-grid .content article a .product-grid-item-img {
  overflow: hidden;
  position: relative;
  padding-bottom: 113.97%;
}

main .products-grid .content article a .product-grid-item-img .product-img-contain {
  position: absolute;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

main .products-grid .content article a .product-grid-item-img .product-img-contain img {
  width: 100%;
}

main .products-grid .content article a .product-grid-item-img .product-img-contain .overlay {
  position: absolute;
  display: block;
  background: rgba(38, 38, 38, 0.9);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

main .products-grid .content article a .product-grid-item-data {
  display: block;
  opacity: 1;
  position: static;
  text-align: center;
  margin: 0 auto;
  width: auto;
  height: auto;
  min-height: 110px;
  color: #3e3e3e;
}

main .products-grid .content article a .product-grid-item-data .center {
  position: static;
  text-align: center;
}

main .products-grid .content article a .product-grid-item-data .center .title {
  padding: 16px 10px 0;
  font-size: 0.813em;
  font-weight: 700;
  line-height: 1.125rem;
}

main .products-grid .content article a .product-grid-item-data .center .title .descr {
  margin: 0;
  padding: 0;
}

main .products-grid .content article a .product-grid-item-data .center .title .colour {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #9c9c9b;
}

main .products-grid .content article a .product-grid-item-data .center .price {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  line-height: 1.25rem;
  font-weight: 700;
}

main .products-grid .content article a .product-grid-item-data .center .price dd {
  text-align: center;
  margin: 0;
  padding: 0;
}

main .products-grid .content article a .product-grid-item-data .center .price dd span::before {
  content: "$ ";
}

main .products-grid .content article a .product-grid-item-data .sizes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

main .products-grid .content article a .product-grid-item-data .sizes dl {
  position: absolute;
  left: 0;
  right: 0;
  top: 42.25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  padding: 0;
}

main .products-grid .content article a .product-grid-item-data .sizes dl dt {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.125rem;
  color: #fff;
}

main .products-grid .content article a .product-grid-item-data .sizes dl dd {
  margin: 0;
  padding: 0 10px;
}

main .products-grid .content article a .product-grid-item-data .sizes dl dd ul {
  list-style: none;
  max-width: 249px;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
}

main .products-grid .content article a .product-grid-item-data .sizes dl dd ul li {
  text-align: center;
  margin: 0 4px;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
}

main .products-grid .content article a .product-grid-item-data .minimized .center {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
}

main .products-grid .content article a .product-grid-item-data .minimized .center .title .colour {
  font-weight: 700;
  color: #fff;
}

main .products-grid .content article a .product-grid-item-data .minimized .center dl {
  top: 50%;
  margin-top: 25px;
}

main .products-grid .content article a .product-grid-item-data .minimized dl {
  top: unset;
  bottom: 0;
}

main .products-grid .content article a .info-hidden {
  display: none;
}

main .products-grid .content article a .shrink {
  min-height: unset;
}

main .products-grid .content .large-view {
  width: 50%;
}
/*# sourceMappingURL=Products.css.map */